<div *ngIf="artist">
	<header class="artist-header">
		<div *ngIf="artist.images.length > 0">
			<img src="{{artist.images[0].url}}" alt="artist thumbnail" class="artist-thumb">
		</div>
		<div class="artist-content">
			<h1>{{artist.name}}</h1>
			<p *ngIf="artist.genres.length > 0" class="genre-text">
				Genres: <span *ngFor="let genre of artist.genres">{{genre}}</span>
			</p>
		</div>
	</header>

	<div class="artist-albums">
		<div class="row">
			<div *ngFor="let album of albums">
				<div class="col-md-3">
					<div class="album well">
						<img src="{{album.images[0].url}}" class="album-thumb img-thumbnail" alt="">
						<h6>{{album.name}}</h6>
						<a routerLink="/album/{{album.id}}" class="btn btn-default btn-block">Album Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>